{% extends "base.html" %}
{% block title %}dashboard{% endblock %}

{% block content%}
<link rel="stylesheet" href="/css/dashboard.css">

<center>
    <h3>Dashboard</h3>
    <div class="elements">
        <ul>
            <li>
                Carbon Perks: {{ carbon_perks }} 
            </li>
            <a href="#redeem">Redeem here</a>
            <br>
            <li>
                Distance Travelled: {{ distance }}kms
            </li>
            <br>
            <li>
               PrestoBalance: {{ PrestoBalance }} CAD
            </li>
            <br>
        </ul>
    </div>
    <h1>Distance Calculator</h1>
    <form action="{{ url_for('dashboard')}}">
        <label for="start">Start Location:</label>
        <input type="text" id="start" name="start" required><br><br>
        
        <label for="end">End Location:</label>
        <input type="text" id="end" name="end" required><br><br>
        
        <label for="mode">Mode of Transport:</label>
        <select id="mode" name="mode">
            <option value="transit">Transit</option>
            <option value="bicycle">Bicycle</option>
            <option value="walking">Walking</option>
        </select><br><br>
        
        <button type="submit">Calculate Distance</button>
    </form>
    <h3>Distance </h3> {{ distance }}
    <h3>Travel Time</h3> {{ time }}

</center>
{% endblock %}